.container {
    position: fixed;
    z-index: 500;
    background: rgb(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer{
    grid-column: 5 / 7;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    padding: 2rem;
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    position: relative;
    top: -20px;
    right: -294px;
}

.divName{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -30px 0 10px 0;
}

.image {
    width: 8rem;
    height: 8rem;
}

.title {
    line-height: 1.1em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    margin-top: -10px;
    margin-bottom: 1rem;
}

.stockSize{
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #5A5A5A;
    color: #5A5A5A;
    border-radius: 10px;
    box-shadow: .1rem .1rem .5rem rgb(0 0 0 / 30%);
    padding: 0 .8rem;
    text-align: center;
    transition: 0.1s;
}
.stockSize:hover {
    background-color: #5A5A5A; 
    color: white;
}

.sizeIsSelected {
    margin: .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #5A5A5A;
    border-radius: 10px;
    box-shadow: .1rem .1rem .5rem rgb(0 0 0 / 30%);
    padding: 0 .8rem;
    text-align: center;
    background-color: #5A5A5A; 
    color: white;
}

.buttonColor{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: .1rem .1rem .5rem rgb(0 0 0 / 30%);
    transition: .1s;
}

.stockColor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
}

.colorSelected {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid rgb(25, 10, 243);
    box-shadow: .1rem .1rem .5rem rgb(0 0 0 / 30%);
    transition: .1s;
}

.divSize{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    height: 3rem;
}

.divColor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    width: 80%;
    height: 3rem;
}

.noStockColor {
    background-color: rgb(0 0 0 / 40%);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(0, -2rem);
    /* transform: rotate(-45deg);
    transform-origin: 1px 45px; */
}

.spanNonStock {
    background-color: transparent;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    transform: translate(-2rem);
}

.noStockSize {
    cursor: default;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #5A5A5A;
    color: #5A5A5A;
    border-radius: 10px;
    padding: 0px 14px;
    text-align: center;
    transition-duration: 0.1s;
    background-color: rgb(0 0 0 / 20%);
    text-decoration:line-through;
}

.divButtonQuantity{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 2.6rem;
    margin: 0;
}

.btnQuantity{
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
}

.btnQuantity:hover {
    background-color: #5A5A5A;
    color: white;
}

.notTouch {
    padding: 0;
    margin: 0;
    border: 1px solid black;
    border-radius: 5px;
    cursor: default;
}

.divQuantity {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
}

.quantity {
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    width: 1.8rem;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
}

.addButton{
    margin-top: 1rem;
    width: 12rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #E84242;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.addButton:hover {
    background-color: white; 
    color: #E84242;
    border: none;
    border: 1px solid #E84242;
}

.buttonNone{
    background-color: darkslategray;
    margin-top: 1rem;
    width: 12rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;

}