.logoutButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: .3rem 0 .3rem 0;
}

.logoutButton:hover {
    background-color: #767676;
    color: rgb(245 245 245);
}