@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&family=Neucha&display=swap');

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-family: 'Montserrat', sans-serif;   
}

.divClose{
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-end;
    z-index: 100;
}
.buttonClose{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

.divHeart{
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 100;
}
.buttonHeart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}

.divImg{
    grid-column: 1 / 5;
    grid-row: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.img{
    width: 40rem;
    /* box-shadow: 5px 5px 40px #5A5A5A; */
}
.arrowButtons{
    width: 100px;
}

.divName{
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    margin-bottom: 200px;
}
.name{
    font-size: 1.5rem;
    font-weight: 300;
    color: #5A5A5A;
}

.divPrice{
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}
.price{
    font-size: 2rem;
    font-weight: 600;
    color: #4A4949;
}

.divStars{
    margin-bottom: 70px;
    grid-column: 5 / 7;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.divColorTitle{
    grid-column: 4;
    grid-row: 4 / 5;
    display: flex;
    justify-content: flex-end;
    align-content: space-between;
    align-items: flex-start;
}

.divColor{
    grid-column: 5 / 7;
    grid-row: 4 / 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
    margin-right: 40px;
}
.spanColor{
    height: 30px;
    width: 30px;
    border-color: #5A5A5A;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
    background-color: attr(data-color)
}
.stockColor{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* .stockColor:hover{
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
} */

.divSizeTitle{
    grid-column: 4;
    grid-row: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-content:flex-end;
    align-items: flex-start;
}

.divSize{
    grid-column: 5 / 7;
    grid-row: 3 / 4;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: center;
    margin-right: 40px;
}
.stockSize{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-color: #5A5A5A;
    color: #5A5A5A;
    border-radius: 10px;
    padding: 0px 14px;
    text-align: center;
    transition-duration: 0.4s;
}
.stockSize:hover {
    background-color: #5A5A5A; 
    color: white;
}

/* .divBuy{
    grid-column: 5 / 7;
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
} */

.divAdd{
    grid-column: 5 / 7;
    grid-row: 3;
    display:inline-flex; 
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
}

.add{
    width: 12rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #E84242;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.add:hover {
    background-color: white; 
    color: #E84242;
    border: 1px solid;
    border-color: #E84242;
}
.ModalBox{
    grid-column: 5 / 7;
    grid-row: 5;
}

.divDescriptionTitle{
    grid-column: 1;
    grid-row: 4;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
    
}

.divDescription{
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    font-weight: 200;
}

.divModelTitle{
    grid-column: 1;
    grid-row: 5;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
}

.divModel{
    grid-column: 2;
    grid-row: 5;
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
    font-weight: 200;
}

.divCommentsTitle{
    grid-column: 3;
    grid-row: 5;
    display: flex;
    margin-left: 1rem;
    justify-content: flex-start;
    align-content: space-between;
    align-items: flex-start;
}

.divComments{
    grid-column: 3;
    grid-row: 4 / 5;
    /* grid-column: attr(datacol);*/
    /* grid-row: attr(datarow); */
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
}

.divReviewForm{
    grid-column: 3 / 6;
    grid-row: 5;
    margin-left: 1rem;
    display: flex;
    margin-top: 2rem;
}

.buttonComment{
    width: 12rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #667ED4;
    color: white;
    border-radius: 10px;
    transition-duration: 0.4s;
}
.buttonComment:hover {
    background-color: white; 
    color: #667ED4;
    border: 1px solid;
    border-color: #667ED4;
}

/* .divButtonSendComment{
    grid-column: 6;
    grid-row: 7;
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    align-items: flex-start;
} */


/*Para los botones deshabilitados*/
/* .disabled { 
    opacity: 0.6;
    cursor: not-allowed;
} */

@media screen and (max-width: 992px) {

    .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: transparent;
    box-shadow: none;
    margin-top: 65px;
    }

    .grid h1 {
    font-size: 30px;
    margin-block: 2rem;
    }

    .divImg {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    /* .ModalBox {
    grid-column: 3 / 4;
    }

    .divDescription {
    grid-column: 1 / 4;
    } */

    .img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 1px 1px 4px 2px rgb(0 0 0 / 20%);
    }

    .grid h1,
    .grid p {
        line-height: 33px;
    }
}








