.container{
    margin-top: 2rem;
    margin-left: 5rem;
}
.header{
    grid-column: 2 / 4;
    font-size: x-large;
    font-weight: 800;
    color: #3c3c3c;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #3c3c3c;
}
.infoContainer{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
}
.divInfo{
    margin-bottom: 1rem;
    color: #3c3c3c;
}

.label{
    margin-right: 1rem;
}