.busqueda {
    text-align: center;
    /* display: inline-block; */
    /* margin-right: 300px; */
    /* border: 5px solid rgb(15, 15, 15);
    position: relative; */
    /* position: relative;
    position: absolute;
    right: 0;
    font-weight: 100; */
}

.btnSearch{
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.btnSearch:hover{
    background-color: #b0b0b0;
    border-radius: 4px;
    transition: all 0.2s ease-out
}