.busqueda {
    text-align: center;
    /* display: inline-block; */
    /* margin-right: 300px; */
    margin-left: 400px;
    /* border: 5px solid rgb(15, 15, 15);
    position: relative; */
    /* position: relative;
    position: absolute;
    right: 0;
    font-weight: 100; */
}