<html>
  <head>
    <title>Mensaje</title>
  </head>
  <body>
     <div>
      <span style="font-weight: bold;">Hola </span>
      <span>{{name}}:</span>
      <br/>
      <p>¡Muchas gracias por tu compra!</p>
      <p>{{typeBuy}}</p>
      
    </div>
      </body>
</html>