@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');


.containerpagination {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.btnpage{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 5px;
}

.pagination  {
    border-radius: 10px;
    width: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(72, 72, 72);
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    /* border: 1px solid #ddd; */
    margin: 5px;
}
.pagination :hover{
    box-shadow: 5px 5px 4px #a5a5a5;
    border-radius: 5px;
    height: 35px;
    padding: 2px;
    width: fit-content;
    /* background-color: mediumturquoise; */
    background-color:#d4d4d4;
}

.pagination .active {
    background-color: #d4d4d4;
    color: rgb(72, 72, 72);
    border: 4px solid #d4d4d4;
    border-radius: 5px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin: 4px;
    padding: 2px;
}