@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.divFilters {
    grid-column: 1/2;
    grid-row: 2/3;
    position: fixed;
    width: 20vw;
    font-family: 'Montserrat', sans-serif;
    color: #4E4E4E;
}

.filterSelected{
    display: flex;
    flex-wrap: wrap;

}

.buttonsSelected{
    margin: 0 5px 0 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 /10%);
    border-color:rgb(0,0, 0, 80%);
    border-radius: 2px;
}

/* .filtersEach{
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    /* height: 30vh;
} */ 

.filtersEach{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 30vh;
    align-items: flex-start;
    font-weight: 300;
}

.filtersEach::-webkit-scrollbar {
    -webkit-appearance: none;
}

.filtersEach::-webkit-scrollbar:vertical {
    width:10px;
}

.filtersEach::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.filtersEach::-webkit-scrollbar:horizontal {
    height: 5px;
}

.filtersEach::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 10px;
    border: 2px solid #f1f2f3;
}

.filtersEach::-webkit-scrollbar-track {
    border-radius: 10px;  
}


.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight:500;
    color: #4E4E4E;
}

.btnFilters{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 300;
    color: #4E4E4E;
}
