@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

.divFilters {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 20vw;
    font-family: 'Montserrat', sans-serif;
    color: #4E4E4E;
    margin-left: 2rem;
    margin-top: 2rem;
}

.filterSelected{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 10vh;
}

.buttonsSelected{
    margin: 0 5px 0 5px;
    box-shadow: 0 2px 5px rgb(0 0 0 /20%);
    border:1px solid rgb(0,0, 0, 10%);
    border-radius: 5px;
    height: 1.6rem;
    padding: 0 .3rem 0 .3rem;
}

.container{
    margin-bottom: 1.5rem;
}

/* .filtersEach{
    display: flex;
    flex-direction: column;
    /* overflow: scroll; */
    /* height: 30vh;
} */ 

.filtersEach{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 25vh;
    align-items: flex-start;
    font-weight: 300;
    margin-right: 2rem;
    border-bottom: 1px solid #cecece;
}

.filtersEach::-webkit-scrollbar {
    -webkit-appearance: none;
}

.filtersEach::-webkit-scrollbar:vertical {
    width: 10px;
}

.filtersEach::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.filtersEach::-webkit-scrollbar:horizontal {
    height: 5px;
}

.filtersEach::-webkit-scrollbar-thumb {
    background-color: #c7c7c7;
    border-radius: 10px;
    border: 2px solid #f1f2f3;
}

.filtersEach::-webkit-scrollbar-track {
    border-radius: 10px;  
    border: 2px solid #f1f2f3;
    background-color: #ededed;
}


.title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: #262626;
}

.btnFilters{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 500;
    color: #1f1f1f;
    margin: .2rem .1rem .2rem;
}
