.container {
    margin-top: 0rem;
    width: 100vw;
    /* height: 100vh; */
    /* position: fixed;
    top: 0;
    left: 0; */
    /* background: rgba(0,0,0,.5);
    padding: 40px;
    display:flex; */
    align-items: center;
    justify-content: center;
}
.header{
    font-size: x-large;
    font-weight: 800;
    color: #323232;
    margin-left: 2rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.subContainer {
        /* width: 500px; */
    /* min-height: 100px; */
    /* background: #F5F5F5; */
    position: relative;
    /* box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px; */
    margin-left: 2rem;
    
}
.btnContainer{
    margin-bottom: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #3c3c3c;
}

.Encabezado {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 1rem;

    /* h3 {
        font-weight: 500;
        font-size: 16px;
        color: #1766DC;
    } */
}

/* .close {
position: absolute;
top: 20px;
right: 20px;
width: 30px;
height: 30px;
border: none;
background: none;
cursor: pointer;
transition: .3s ease all;
border-radius: 5px;
color: #1766DC;
}

.close .hover {
    background: #f2f2f2;
} */

.envio {
    background-color: #3c3c3c;
    color: white;
    padding: 1rem;
    font-size: larger;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 1rem;
}

.envio:hover {
    background-color: #dc5d5d;
    color: #fff;
}

.sucursal {
    background-color: #3c3c3c;
    color: white;
    padding: 1rem;
    font-size: larger;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 5px;
}

.sucursal:hover {
    background-color: #dc5d5d;
    color: #fff;
}
.containerShipping{
    margin-left: 2rem;
}
.containerMap{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.btnPago {
    padding: .5rem 1rem;
    border-radius: 6px;
    background-color: #3c3c3c;
    color: white;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 0;
    /* margin-block: 2rem 1rem; */
    width: 200px;
    margin:2rem;
    border: 1px solid #3c3c3c;

}

.btnPago:hover {
    background-color: #667ED4;
    color: white;
    border: 1px solid #667ED4;
}

.divBtnPago{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}