@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    font-family: 'Montserrat', sans-serif;   
}
.divClose{
    grid-column: 4;
    grid-row: 1;
    display: flex;
    justify-content: flex-end;
}

.buttonClose{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgb(0 0 0 / 20%);
}
.cartTitle{
    grid-column: 1 / 3;
    grid-row: 1 ;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    margin: 2rem;
} 
.title{
    font-size: 2.2rem;
    font-weight: 900;
    color: #3c3c3c;
    margin-right: 10px;
}
.quantity{
    font-size: 1rem;
    font-weight: 300;
}

.cartProducts{
    grid-column: 1 / 5;
    /* grid-row: 2 / 5; */
}

.orderInfo{
    grid-column: 5 / 7;
    grid-row: 1 / 7;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #F5F5F5;
}
.orderResumen{
    /* grid-column: 5 / 7;
    grid-row: 1; */
    font-size: 2rem;
    font-weight: 800;
    color: #3c3c3c;
    margin-top:2rem;
    margin-left: 2rem;
}

.cartSubtotal{
    /* grid-column: 5;
    grid-row: 2; */
    font-weight: 400;
    color: #3c3c3c;
    margin-top: 2rem;
    margin-left: 2rem;
}

.cartTotal{
    display: flex;
    justify-content: space-between;
}

.cartTotalTitle{
    /* grid-column: 5;
    grid-row: 3; */
    font-weight: 400;
    color: #3c3c3c;
    margin-top: 3rem;
    margin-left: 2rem;
    font-size:larger;
    font-weight: 700;
}


.cartTotalPrice{
    /* grid-column: 7;
    grid-row: 3; */
    font-weight: 600;
    color: #3c3c3c;
    margin-top: 3rem;
    margin-right: 2rem;
    font-weight: 700;
    font-size:larger;
}
.btnContainer{
    display: flex;
    justify-content: center;
}
.buyBtn{
    /* grid-column: 5 / 7;
    grid-row: 4; */
    width: 12rem;
    height: 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #667ED4;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition-duration: 0.4s;
    
}
.buyBtn:hover {
    background-color: white; 
    color: #667ED4;
    border: 1px solid;
    border-color: #667ED4;
}

.deleteCart{
    grid-column: 5 / 7;
    grid-row: 5;
    width: 12rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    background-color: #E84242;
    color: white;
    border-radius: 10px;
    font-weight: 300;
    transition-duration: 0.4s;
}
.deleteCart:hover {
    background-color: white; 
    color: #E84242;
    border: 1px solid;
    border-color: #E84242;
}