.divCards {
        margin-top: 5rem;
        position:relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}

.divProducts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
}