.divCards {
        height: 425px;
        width: 300px;
        flex-direction: row;
        flex-wrap: wrap;
        float:left;
        position:inherit;
        padding:10px;
        margin-top: 50px;
        margin-bottom: 10px;
}