.imgDiv{
    display: flex;
    justify-content: center;
    height: 5rem;
    margin-top: 2rem;
}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.divBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn {
    border-radius: 14px;
    background-color: #3c3c3c;
    color: white;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    display: block;
    margin: 0;
    width: 9rem;
    height: 2rem;
    border: 1px solid #3c3c3c;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.btn:hover {
    background-color: #dc5d5d;
    color: white;
    border: 1px solid #dc5d5d;
}