.title {
  font-size: larger;
  font-weight: 800;
  color: #323232;
  margin-top: 1rem;
}
.container {
  height: 100%;
  margin-top: 1rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  grid-auto-rows: minmax(49px, auto);
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: start;
  align-items: start;
  align-content: center;
}
.container .inputBox {
  position: relative;
  width: 25rem;
  height: 46px;
  margin-bottom: 25px;
  border: 1px solid #767676;
  border-radius: 8px;
  font-weight: 400;

  /* padding: .5rem; */
}

.container .inputBox:last-child {
  margin-bottom: 0;
}

.container .inputBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  /* border: 1px solid #767676; */
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.container .inputBox label {
  position: absolute;
  left: 1px;
  padding: 10px;
  display: inline-block;
  transition: 0.5s;
  pointer-events: none;
}

.container .inputBox input:focus ~ label,
.container .inputBox input:valid ~ label {
  transform: translateX(15px) translateY(-20px);
  font-size: 12px;
  background-color: white;
}

@media screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: x-large;
    margin-top: 4rem;
  }

  .inputBox[type="text"] {
    width: 100%;
    color: #353535;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
}

.btnPago {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  background-color: #3c3c3c;
  color: white;
  font-size: large;
  font-weight: 600;
  cursor: pointer;
  display: block;
  margin: 0;
  /* margin-block: 2rem 1rem; */
  width: 200px;
  margin: 2rem;
  border: 1px solid #3c3c3c;
}

.btnPago:hover {
  background-color: #667ed4;
  color: white;
  border: 1px solid #667ed4;
}
