.landingImg{
    background-image: url("https://img.freepik.com/foto-gratis/zapatos-cerca-corredor-femenino-atar-sus-zapatos-ejercicio-jogging_1150-4203.jpg?w=1480&t=st=1657585831~exp=1657586431~hmac=9c08d14b4c150c53855a15616567ca7083bf2a3ab5c91ff6c8dedac0f8623486");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 3px 5px 14px black;
    text-align: right;
    margin: 20px;
}

.navHome {
    padding: 0.6em 2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: rgba(255, 255, 255);
    background: rgb(29, 29, 29);
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    top: 70%;
    left: 85%;
}