.navbarContainer{
    background-color: rgb(214, 214, 214);
    height: 100%;
    width: 100%;
    /* display: flex; */
}

.divTop{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px; */
    list-style: none;
    text-align: center;
    /* width: 70vw; */
    margin-right: 2rem;
    margin-top: 10px;
}

.logo{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.envío{
    justify-self: start;
    margin-right: 5px;
    margin-top: 10px;
    color: #4E4E4E;
}

.menuGral{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.menu{
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: repeat(7, auto);
    grid-gap: 10px; */
    list-style: none;
    text-align: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.menu2{
    display: flex;
    flex-direction: row;
    /* display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 30px; */
    list-style: none;
    text-align: center;
    width: 0;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 0;
    margin: 0;
}

button{
    color: #4E4E4E;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

button:hover{
    background-color: #ffffff;
    border-radius: 4px;
    transition: all 0.2s ease-out
}


