.generalContainer{
    padding: 2rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 5rem;
    width: 100%;
    border: 1px solid #767676;
    border-radius: .5rem;
    margin-bottom: 1rem;
    box-shadow: .1rem .1rem .5rem rgb(0, 0, 0, 0.5);
    padding: .5rem 2rem .5rem 2rem;
    margin-top: 2rem;

}

.title{
    font-size:x-large;
    font-weight: 800;
    color: #323232;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 100%;
}


.btnMenu {
    display: flex;
    height: 4rem;
    width: 2rem;
    font-size: 1.8rem;
    color: #323232;
    align-items: center;
}

.menuOptionsActive {
    display: block;
    background-color: rgb(255 255 255);
    position: absolute;
    width: 9rem;
    border: 1px solid #767676;
    border-radius: 5px;
    transform: translate(-4rem, -.5rem);
}

.ulStyle {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.liContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.liContainer:hover {
    cursor: pointer;
}

.liContainer:hover{
    background-color: #767676;
    color: rgb(255 255 255);
}